categoria_11 RCDATA "Assets\\categoria-airplane-64x64.png"
categoria_12 RCDATA "Assets\\categoria-bike-64x64.png"
categoria_13 RCDATA "Assets\\categoria-bus-64x64.png"
categoria_14 RCDATA "Assets\\categoria-car-64x64.png"
categoria_16 RCDATA "Assets\\categoria-fuel-64x64.png"
categoria_17 RCDATA "Assets\\categoria-health-64x64.png"
categoria_19 RCDATA "Assets\\categoria-health-hospital-64x64.png"
categoria_20 RCDATA "Assets\\categoria-health-medical-64x64.png"
categoria_21 RCDATA "Assets\\categoria-home-64x64.png"
categoria_22 RCDATA "Assets\\categoria-lunch-64x64.png"
categoria_23 RCDATA "Assets\\categoria-mobile-64x64.png"
categoria_24 RCDATA "Assets\\categoria-money-64x64.png"
categoria_26 RCDATA "Assets\\categoria-shopping-64x64.png"
categoria_27 RCDATA "Assets\\categoria-toy-64x64.png"
categoria_28 RCDATA "Assets\\categoria-travel-64x64.png"
categoria_1 RCDATA "Assets\\categoria-000-null-64x64.png"
categoria_2 RCDATA "Assets\\categoria-111-more-64x64.png"
categoria_3 RCDATA "Assets\\categoria-222-boleto-64x64.png"
categoria_4 RCDATA "Assets\\categoria-333-woman-64x64.png"
categoria_5 RCDATA "Assets\\categoria-444-man-64x64.png"
categoria_6 RCDATA "Assets\\categoria-555-baby-64x64.png"
categoria_7 RCDATA "Assets\\categoria-666-baby-carrinho-64x64.png"
categoria_8 RCDATA "Assets\\categoria-777-baby-chupeta-64x64.png"
categoria_9 RCDATA "Assets\\categoria-888-input-64x64.png"
categoria_10 RCDATA "Assets\\categoria-999-output-64x64.png"
categoria_15 RCDATA "Assets\\categoria-card-64x64.png"
categoria_18 RCDATA "Assets\\categoria-health-arboart-64x64.png"
categoria_25 RCDATA "Assets\\categoria-motobike-64x64.png"
